:root {
  --main-color: rgb(238, 48, 35);
}

body {
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: var(--main-color);
  height: 48px;
}

nav.container,
footer.container,
div.container {
  max-width: 1280px;
  margin: auto;
}
