:root {
  --main-color: rgb(238, 48, 35);
  --main-color-value: 238, 48, 35;

  --secondary-color: rgb(232, 232, 232);
  --secondary-color-light: rgb(244, 244, 244);
  --secondary-color-dark: rgb(104, 104, 104);
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
}
